body {
  background: url("images/whitediamond.png");
  line-height: 32px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif !important;
}

.wrapSign {
  box-sizing: border-box;
  font-size: 20px;
  background-color:white;
  padding: 20px;
  margin: 0 auto;
  max-width: 960px;
}

.safety-image{
  float: left;
  margin-right: 25px;
  font-size: 50px;
  width: 50%;
}


.footer {
  position: absolute;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  height: 60px;
 }

.alertimg,.policeimg{
	width: 228px;
	height: 228px;
}

.police, .sos{
	margin: auto;
  padding: 10px;
  text-align: center;
}

#map {
	width: 100%;
	height: 400px;
	background-color: white;
}

/* Full-width inputs */
input[type=text], input[type=password],input[type=number],input[type=email] {
    width: 50%;
    font-size: 18px;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login, #start, #stop,.cancelbtn,.submit-btn,.signupbtn{
    background-color:#00bfff;
    color: white;
    padding: 10px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 15%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
.avatar {
    width: 10%;
    border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.navbar{
  background-color: greenyellow;
  color: #00bfff;
  font-weight: bold;
}

h3{
  text-align: center;
}

h4 {
  text-align: center;
  font-weight: bold;
  color:#00bfff;
}
h5{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.col-md-8{
  margin-left: 160px;
  text-align: center;
}
