.alertimg{
	width: 228px;
	height: 228px;
	
}
.policeimg{
	width: 228px;
	height: 228px;
}
.police{
	margin: auto;
    width: 40%;
    padding: 10px;
}
.sos{
	margin: auto;
    width: 40%;
    padding: 10px;
}

h1{
	font-size: 28px;
	text-align: center;
}